main{
    background-color: rgb(255,255,255);
    height: 500px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px rgb(54, 22, 109);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 35px ;
}
.title{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(48, 48,48);
}
.text-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.text-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(36, 36,36);
    align-self: start;
}
#text{
    height: 7rem;
    width: 20rem;
    border: none;
    outline: 2px solid rgba(128, 128, 128,0.623);
    border-radius: 0.5rem;
    resize: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 10px;
}
.voice-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.voice-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(36, 36, 36);
    align-self: start;
}
#voice{
    height: 3rem;
    width: 20rem;
    border: none;
    outline: 2px solid rgba(128, 128, 128, 0.623);
}
.submit{
    background-color: rgba(128, 128, 128, 0.623);
    color: white;
    width: 20rem;
    height: 3rem;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    border:none ;
}
option{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}
